<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head"></div>
<style>
  .tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    clear: both;
  }

  .tab-content.active {
    display: block;
  }
</style>
<body>
<div class="wrapper">
  <!-- Sidebar -->
  <div th:replace="fragments/sidebar"></div>
  <!-- End Sidebar -->

  <div class="main-panel">
    <div class="main-header">
      <div class="main-header-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a href="../index.html" class="logo">
            <img
                    th:src="@{/assets/img/kaiadmin/logo_light.svg}"
                    alt="navbar brand"
                    class="navbar-brand"
            />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
          <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
          </button>
        </div>
        <!-- End Logo Header -->
      </div>
      <!-- Navbar Header -->
      <div th:replace="fragments/topbar"></div>
      <!-- End Navbar -->
    </div>
    <!--Nội Dung-->
    <div class="container">
      <div class="page-inner">
        <div class="pagetitle">
          <h1>Quản lý sản phẩm</h1>
        </div><!-- End Page Title -->
        <section class="section">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">

                  <div class="row g-3">
                    <div class="col-md-12">
                      <a class="btn btn-link" style="float: left;margin-top: 1%;"
                         href="/admin/san-pham-chi-tiet">
                        <i class=" bi bi-arrow-left-circle-fill"></i>
                      </a>
                    </div>
                    <div class="col-md-12">
                      <h1 class="modal-title fs-5" id="exampleModalLabel" style="text-align: center">
                        Cập nhật sản phẩm chi tiết
                      </h1>
                    </div>
                    <div class="col-md-12">
                      <div class="row g-3" style="margin-top: 2%;width: 95%; margin: auto">
                        <div class="col-md-12">
                          <label class="col-form-label">
                            <span class="dausao">*</span>Tên sản phẩm:
                          </label>
                          <input type="text" class="form-control"
                                 th:value="${sanPhamDetail != null ? sanPhamDetail.ten : ''}" disabled>

                        </div>
                        <div class="col-md-12">
                          <label class="col-form-label">
                            <span class="dausao">*</span>Chất liệu:
                          </label>
<!--                           Kiểm tra nếu sanPhamDetail không null thì hiển thị giá trị, ngược lại hiển thị một giá trị mặc định hoặc không hiển thị gì cả -->
                          <input type="text" class="form-control"
                                 th:value="${listCL != null ? listCL.ten : ''}"
                                 disabled>
<!--                          <select class="form-select" id="chatLieuSelect" disabled-->
<!--                                  aria-label="Default select example">-->
<!--                            <option th:each="listCL:${listCL}" th:value="${listCL.id}"-->
<!--                                    th:label="${listCL.ten}"></option>-->
<!--                          </select>-->
                        </div>

                        <div class="col-md-6">
                          <label class="col-form-label">
                            <span class="dausao">*</span>Ngày Tạo:
                          </label>
                          <!-- Kiểm tra nếu sanPhamDetail không null thì hiển thị giá trị, ngược lại hiển thị một giá trị mặc định hoặc không hiển thị gì cả -->
                          <input type="text" class="form-control"
                                 th:value="${#dates.format(listChiTietSP[0].ngayTao, 'HH:mm dd/MM/yyyy')}"
                                 disabled>

                        </div>
                        <div class="col-md-6">
                          <label class="col-form-label">
                            <span class="dausao">*</span>Ngày Sửa:
                          </label>
                          <!-- Kiểm tra nếu sanPhamDetail không null thì hiển thị giá trị, ngược lại hiển thị một giá trị mặc định hoặc không hiển thị gì cả -->
                          <input type="text" class="form-control"
                                 th:value="${#dates.format(listChiTietSP[0].ngaySua, 'HH:mm dd/MM/yyyy')}"
                                 disabled>

                        </div>
<!--                        <div class="col-md-12">-->
<!--                          <label class="col-form-label"><span-->
<!--                                  class="dausao">*</span>Mô tả</label>-->
<!--                          <textarea class="form-control"-->
<!--                                    th:text="${sanPhamDetail != null ? sanPhamDetail.moTa : ''}"-->
<!--                                    id="exampleFormControlTextarea1" rows="3" disabled>-->
<!--                                        </textarea>-->
<!--                        </div>-->


                        <div class="col-md-12" id="nhapFullDuLieu">
                          <div class="row">
                            <div class="col-md-6">
                              <label class="form-label">
                                <span class="dau-sao">*</span>Chọn Tất Cả Trạng thái:</label>
                              <div style="margin-top: 1%;">
                                <input class="form-check-input" id="trangThai1" type="radio"
                                       name="trangThai1" style="margin-left:5%;"
                                       onchange="selectOnChange(0)">
                                <label class="form-check-label" for="trangThai1">Đang hoạt
                                  động</label>

                                <input class="form-check-input" id="trangThai2" type="radio"
                                       name="trangThai1" style="margin-left:5%;"
                                       onchange="selectOnChange(1)">
                                <label class="form-check-label" for="trangThai2">Ngừng hoạt
                                  động</label>

                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-6">

                                  <label class="form-label">
                                    <span class="dau-sao">*</span>Nhập tất cả số lượng:</label>
                                  <input class="form-control" type="number"
                                         oninput="updateInputsSoLuong(this)">
                                  <script>
                                    function updateInputsSoLuong(sourceInput) {
                                      // Lấy giá trị của input nguồn
                                      var sourceValue = sourceInput.value;
                                      console.log(sourceValue)
                                      const donGiaInputs = document.getElementsByName("listSoLuong");
                                      for (let i = 0; i < donGiaInputs.length; i++) {
                                        donGiaInputs[i].value = sourceValue

                                      }
                                    }
                                  </script>
                                </div>
                                <div class="col-md-6">

                                  <label class="form-label">
                                    <span class="dau-sao">*</span> Nhập tất cả giá:</label>

                                  <input class="form-control" type="number"
                                         oninput="updateInputsGia(this)">
                                  <script>
                                    function updateInputsGia(sourceInput) {
                                      // Lấy giá trị của input nguồn
                                      var sourceValue = sourceInput.value;
                                      console.log(sourceValue)
                                      const donGiaInputs = document.getElementsByName("listDonGia");
                                      for (let i = 0; i < donGiaInputs.length; i++) {
                                        donGiaInputs[i].value = sourceValue

                                      }
                                    }
                                  </script>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <form th:action="@{/admin/san-pham-chi-tiet/update}" method="post"
                            enctype="multipart/form-data"
                            class="row g-3" style="margin-top: 2%;width: 95%; margin: auto">
                        <div class="col-md-12">
                          <table class="table">
                            <thead>
                            <tr>
                              <th scope="col">Kích Cỡ</th>
                              <th scope="col">Màu Sắc</th>
                              <th scope="col">Chất liệu</th>
                              <th scope="col" style="width: 18%">Trạng Thái</th>
                              <th scope="col" style="width: 12%">Số Lượng</th>
                              <th scope="col" style="width: 17%">Đơn Giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="chiTietSanPham,iterStat : ${listChiTietSP}">

                              <input type="hidden" th:value="${chiTietSanPham.id}"
                                     name="listIdChiTietSp">
                              <select hidden=class="form-control" name="listSanPham"
                                      aria-label="Default select example">
                                <option th:value="${chiTietSanPham.sanPham.id}"
                                        th:label="${chiTietSanPham.sanPham.ten}"></option>
                              </select>

                              <td>
                                <select class="form-control" name="listKichCo"
                                        style="color: black; pointer-events: none; user-select: none; opacity: 0.6;"
                                        aria-label="Default select example">
                                  <option th:value="${chiTietSanPham.kichCo.id}"
                                          th:label="${chiTietSanPham.kichCo.ten}"></option>
                                </select>
                              </td>
                              <td>
                                <select class="form-control" name="listMauSac"
                                        style="color: black; pointer-events: none; user-select: none; opacity: 0.6;"
                                        aria-label="Default select example">
                                  <option th:value="${chiTietSanPham.mauSac.id}"
                                          th:label="${chiTietSanPham.mauSac.ten}"></option>
                                </select>
                              </td>
                              <td>
                                <select class="form-control" name="listChatLieu"
                                        style="color: black; pointer-events: none; user-select: none; opacity: 0.6;"
                                        aria-label="Default select example">
                                  <option th:value="${chiTietSanPham.chatLieu.id}"
                                          th:label="${chiTietSanPham.chatLieu.ten}"></option>
                                </select>
                              </td>
<!--                              <td>-->
<!--                                <select class="form-control" name="listLoaiDe"-->
<!--                                        style="color: black; pointer-events: none; user-select: none; opacity: 0.6;"-->
<!--                                        aria-label="Default select example">-->
<!--                                  <option th:value="${chiTietSanPham.loaiDe.id}"-->
<!--                                          th:label="${chiTietSanPham.loaiDe.ten}"></option>-->
<!--                                </select>-->
<!--                              </td>-->
                              <td>
<!--                                <style>-->
<!--                                  #selectTrangThai1 {-->
<!--                                    background-color: #4bff52;-->
<!--                                  }-->

<!--                                  #selectTrangThai2 {-->
<!--                                    background-color: #ff5959;-->
<!--                                  }-->
<!--                                </style>-->
                                <select class="form-control listTrangThai"
                                        th:id="${chiTietSanPham.trangThai == 0} ? 'selectTrangThai1' : 'selectTrangThai2'"
                                        name="listTrangThai"
                                        aria-label="Default select example">
                                  <option th:value="0" th:label="|Đang hoạt động|"
                                          th:selected="${chiTietSanPham.trangThai == 0}"></option>
                                  <option th:value="1" th:label="|Ngừng hoạt động|"
                                          th:selected="${chiTietSanPham.trangThai == 1}"></option>
                                </select>
                                <script>
                                  // Hàm xử lý sự kiện onchange của radio buttons
                                  function selectOnChange(trangThai) {
                                    // Lấy thẻ select
                                    var selectElements = document.querySelectorAll('.listTrangThai');

                                    // Chọn option tương ứng với giá trị của radio button
                                    selectElements.forEach(function (selectElement) {
                                      selectElement.value = trangThai;
                                    });
                                  }
                                </script>
                              </td>
                              <td>
                                <input type="number" class="form-control" min="0" name="listSoLuong"

                                       th:value="${chiTietSanPham.soLuong}">
                                <div class="error-message"
                                     th:id="'checkSoLuong' + ${iterStat.index}"
                                     style="display: none;color: #ff0000;font-size: 14px;font-weight: bold;"></div>
                              </td>
                              <td>
                                <input type="number" class="form-control" min="0" name="listDonGia"
                                       th:value="${chiTietSanPham.giaBan}">
                                <div class="error-message" th:id="'checkDonGia' + ${iterStat.index}"
                                     style="display: none;color: #ff0000;font-size: 14px;font-weight: bold;"></div>
                              </td>
                            </tr>
                            </tbody>
                          </table>

                        </div>
                        <div class="modal-footer">
                          <button type="submit" onclick="return checkSuaCtsp()" class="btn btn-warning">
                            Cập nhật
                          </button>
                          <script>
                            function checkSuaCtsp() {
                              const soLuongInputs = document.getElementsByName("listSoLuong");
                              const donGiaInputs = document.getElementsByName("listDonGia");

                              let hasError = false; // Biến flag để kiểm tra lỗi

                              for (let i = 0; i < donGiaInputs.length; i++) {
                                const checkDonGia = donGiaInputs[i].value;
                                const errorDiv = document.getElementById("checkDonGia" + i);

                                if (checkDonGia < 10000 || checkDonGia >= 1000000000) {
                                  hasError = true; // Có lỗi
                                  errorDiv.style.display = "block"; // Hiển thị div thông báo lỗi
                                  errorDiv.textContent = (checkDonGia < 10000) ? "Giá phải >= 10000" : "Giá phải <= 1000000000"; // Hiển thị thông báo lỗi
                                } else {
                                  errorDiv.style.display = "none"; // Ẩn div thông báo lỗi nếu giá trị hợp lệ
                                }
                              }

                              for (let i = 0; i < soLuongInputs.length; i++) {
                                const checkSoLuong = soLuongInputs[i].value;
                                const errorDiv = document.getElementById("checkSoLuong" + i);

                                if (checkSoLuong == "") {
                                  hasError = true; // Có lỗi
                                  errorDiv.style.display = "block"; // Hiển thị div thông báo lỗi
                                  errorDiv.textContent = "Không được để null"; // Hiển thị thông báo lỗi
                                } else if (checkSoLuong < 0 || checkSoLuong >= 100000) {
                                  hasError = true; // Có lỗi
                                  errorDiv.style.display = "block"; // Hiển thị div thông báo lỗi
                                  errorDiv.textContent = (checkSoLuong < 0) ? "Số lượng phải >= 0" : "Số lượng phải <= 100000"; // Hiển thị thông báo lỗi
                                } else {
                                  errorDiv.style.display = "none"; // Ẩn div thông báo lỗi nếu giá trị hợp lệ
                                }
                              }

                              if (!hasError) {
                                return true; // Trả về true nếu không có lỗi
                              } else {
                                return false; // Trả về false nếu có lỗi
                              }
                            }
                          </script>
                        </div>

                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>>
      </div>
    </div>

    <div th:replace="fragments/footer"></div>
  </div>

  <!-- Custom template | don't include it in your project! -->

  <!-- End Custom template -->
</div>
<!--   Core JS Files   -->
<script th:src="@{/assets/js/core/jquery-3.7.1.min.js}"></script>
<script th:src="@{/assets/js/core/popper.min.js}"></script>
<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- Chart JS -->
<script th:src="@{/assets/js/plugin/chart.js/chart.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Chart Circle -->
<script th:src="@{/assets/js/plugin/chart-circle/circles.min.js}"></script>

<!-- Datatables -->
<script th:src="@{/assets/js/plugin/datatables/datatables.min.js}"></script>

<!-- Bootstrap Notify -->
<script th:src="@{/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{/assets/js/plugin/jsvectormap/jsvectormap.min.js}"></script>
<script th:src="@{/assets/js/plugin/jsvectormap/world.js}"></script>

<!-- Google Maps Plugin -->
<script th:src="@{/assets/js/plugin/gmaps/gmaps.js}"></script>

<!-- Sweet Alert -->
<script th:src="@{/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

<!-- Kaiadmin JS -->
<script th:src="@{/assets/js/kaiadmin.min.js}"></script>

<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script th:src="@{/assets/js/setting-demo2.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
