<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head"></div>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="fragments/sidebar"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <div class="main-header">
            <div class="main-header-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="../index.html" class="logo">
                        <img
                                th:src="@{/assets/img/kaiadmin/logo_light.svg}"
                                alt="navbar brand"
                                class="navbar-brand"
                        />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <!-- Navbar Header -->
            <div th:replace="fragments/topbar"></div>
            <!-- End Navbar -->
        </div>
        <!--Nội Dung-->
        <div class="container">
            <div class="page-inner">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h3 class="text-center">Thông Tin Sản Phẩm</h3>
                        <form th:action="@{/sanpham-chitiet/add}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label  class="col-form-label">Sản Phẩm</label>
                                <div class="input-group mb-3">
                                    <select class="form-control" id="sanPham" name="sanPham" readonly="">
                                        <option th:each="product : ${listUD}" th:value="${product.id}" th:text="${product.ten}">
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="exampleFormControlSelect1">Màu Sắc</label>
                                    <select class="form-select" id="exampleFormControlSelect1" name="mauSac">
                                        <option th:each="listMS : ${listMS}" th:value="${listMS.id}"
                                                th:text="${listMS.ten}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleFormControlSelect2">Kích Thước</label>
                                    <select class="form-select" id="exampleFormControlSelect2" name="kichCo">
                                        <option th:each="listKT : ${listKT}" th:value="${listKT.id}"
                                                th:text="${listKT.ten}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment">Comment</label>
                                <textarea class="form-control" id="comment" rows="5" name="moTa"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="soLuong">Số Lượng</label>
                                <input type="number" class="form-control" id="soLuong" name="soLuong" required>
                            </div>
                            <div class="form-group">
                                <label for="giaBan">Giá Bán</label>
                                <input type="number" class="form-control" id="giaBan" name="giaBan" step="0.01" required>
                            </div>
                            <div class="form-group">
                                <label for="maVach">Mã Vạch</label>
                                <input type="text" class="form-control" id="maVach" name="maVach" required>
                            </div>
                            <div class="form-group">
                                <label for="hinhAnh">Hình Ảnh</label>
                                <input type="file" class="form-control" id="hinhAnh" name="hinhAnh" required>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Danh Sách Sản Phẩm Chi Tiết</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="dataTables_length" id="dataTable_length">
                                            <label>Show
                                                <select name="dataTable_length" aria-controls="dataTable"
                                                        class="custom-select custom-select-sm form-control form-control-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div id="dataTable_filter" class="dataTables_filter">
                                            <label>Search:
                                                <input type="search" class="form-control form-control-sm" placeholder=""
                                                       aria-controls="dataTable">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <a href="#" class="btn btn-primary" data-toggle="modal"
                                           data-target="#addKichThuocModal">Thêm Kích Thước</a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                               cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                               style="width: 100%;">
                                            <thead>
                                            <tr>
                                                <th rowspan="1" colspan="1">STT</th>
                                                <th rowspan="1" colspan="1">Tên Sản Phẩm</th>
                                                <th rowspan="1" colspan="1">Số Lượng</th>
                                                <th rowspan="1" colspan="1">Giá Bán</th>
                                                <th rowspan="1" colspan="1">Hình Ảnh</th>
                                                <th rowspan="1" colspan="1">Hành Động</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="listSPCT: ${listSPCT}">
                                                <td th:text="${listSPCT.id}"></td>
                                                <td th:text="${listSPCT.sanPham.ten}"></td>
                                                <td th:text="${listSPCT.soLuong}"></td>
                                                <td th:text="${listSPCT.giaBan}"></td>
                                                <td>
                                                    <!-- Hiển thị ảnh từ API mới tạo -->
                                                    <img th:src="@{'/api/products/image/' + ${listSPCT.id}}" alt="Ảnh sản phẩm" width="100">
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger">Xóa</a>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="dataTable_info" role="status"
                                             aria-live="polite">Showing 1 to 10 of 57 entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled"
                                                    id="dataTable_previous"><a href="#" aria-controls="dataTable"
                                                                               data-dt-idx="0" tabindex="0"
                                                                               class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item active"><a href="#"
                                                                                                aria-controls="dataTable"
                                                                                                data-dt-idx="1"
                                                                                                tabindex="0"
                                                                                                class="page-link">1</a>
                                                </li>
                                                <li class="paginate_button page-item "><a href="#"
                                                                                          aria-controls="dataTable"
                                                                                          data-dt-idx="2" tabindex="0"
                                                                                          class="page-link">2</a></li>
                                                <li class="paginate_button page-item "><a href="#"
                                                                                          aria-controls="dataTable"
                                                                                          data-dt-idx="3" tabindex="0"
                                                                                          class="page-link">3</a></li>
                                                <li class="paginate_button page-item "><a href="#"
                                                                                          aria-controls="dataTable"
                                                                                          data-dt-idx="4" tabindex="0"
                                                                                          class="page-link">4</a></li>
                                                <li class="paginate_button page-item "><a href="#"
                                                                                          aria-controls="dataTable"
                                                                                          data-dt-idx="5" tabindex="0"
                                                                                          class="page-link">5</a></li>
                                                <li class="paginate_button page-item "><a href="#"
                                                                                          aria-controls="dataTable"
                                                                                          data-dt-idx="6" tabindex="0"
                                                                                          class="page-link">6</a></li>
                                                <li class="paginate_button page-item next" id="dataTable_next"><a
                                                        href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0"
                                                        class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer"></div>
    </div>

    <!-- Custom template | don't include it in your project! -->

    <!-- End Custom template -->
</div>
<!--   Core JS Files   -->
<script th:src="@{/assets/js/core/jquery-3.7.1.min.js}"></script>
<script th:src="@{/assets/js/core/popper.min.js}"></script>
<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- Chart JS -->
<script th:src="@{/assets/js/plugin/chart.js/chart.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Chart Circle -->
<script th:src="@{/assets/js/plugin/chart-circle/circles.min.js}"></script>

<!-- Datatables -->
<script th:src="@{/assets/js/plugin/datatables/datatables.min.js}"></script>

<!-- Bootstrap Notify -->
<script th:src="@{/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{/assets/js/plugin/jsvectormap/jsvectormap.min.js}"></script>
<script th:src="@{/assets/js/plugin/jsvectormap/world.js}"></script>

<!-- Google Maps Plugin -->
<script th:src="@{/assets/js/plugin/gmaps/gmaps.js}"></script>

<!-- Sweet Alert -->
<script th:src="@{/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

<!-- Kaiadmin JS -->
<script th:src="@{/assets/js/kaiadmin.min.js}"></script>

<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script th:src="@{/assets/js/setting-demo2.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>